html {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    background-color: #171717;
    font-family: sans-serif;
}

input,button {
    font: inherit;
}

main {
    height: 100vh;
    height: 100dvh;
    margin: 0 auto;
    width: min(100% - 2rem, 640px);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.download-form {
    display: flex;
    gap: 0.5rem;
}

.download-form__input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid tomato;
    border-radius: 0.5rem;
    background-color: #282828;
}

.download-form__submit {
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: tomato;
    color: #171717;
    font-weight: 500;
}

.progress-bar {
    height: 2rem;
    border-radius: 100vw;
    background-color: #282828;
    overflow: hidden;
    position: relative;
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #47ff63;
    transition: width 150ms;
}

.info-area {
    background-color: #282828;
    border-radius: 1rem;
    padding: 1rem;
    border: 0;
}

.info-content {
    resize: none;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    height: 8lh;
    background: transparent;
    border: 0;
    font-family: monospace;

    display: flex;
    flex-direction: column-reverse;
}

.queue {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.queue-list {
    list-style-position: inside;
    padding: 0;
    margin-top: 0;
    overflow-y: auto;
    display: grid;
    gap: 0.25rem;
}
